.start-btn {
	position: absolute;
	width: 160px;
	left: 50%;
	margin-left: -80px;
	bottom: 15%;
	padding: 10px;
	color: #fff;
	background-color: #0093FD !important;
	border-color: #0093FD;
}
.item-logo {
	width: 100%;
	height: 100%;
	position: relative;
}
/*
.item-logo .op-sns {
	width: 200px;
	height: 200px;
	display: block;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -100px;
}

.animate {
	position: absolute;
	left: 0;
	bottom: 15%;
	width: 100%;
	color: #fff;
	display: -moz-box;
	text-align: center;
}
.animate_first {
	position: absolute;
	left: 0;
	top: 8%;
	width: 100%;
	color: #000;
	display: -moz-box;
	text-align: center;
}
.animate_first li{color: #333;}

.animate h2 {
	text-align: center;
	color: #818181;
	margin-bottom: 20px;
}

.animate li {
	height: 30px;
	line-height: 30px;
	list-style: none;
	font-size: 16px;
	text-align: center;
	color: #7c7d7d;
}	
.animated {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-play-state: paused;
	-webkit-animation-fill-mode: both;
}	
.guide-show .bounceInDown {
	-webkit-animation-name: bounceInDown;
	-webkit-animation-play-state: running;
	-webkit-animation-delay: 0.5s;
	display: block;
}	
.guide-show .bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	display: block;
	-webkit-animation-play-state: running;
}
@-webkit-keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}
	75% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}
	90% {
		-webkit-transform: translate3d(0, 3px, 0);
		transform: translate3d(0, 3px, 0);
	}
	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes bounceInLeft {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}
	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}
	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
	100% {
		color: #000000;
		-webkit-transform: none;
		transform: none;
	}
}*/