<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../../js/mui.min.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../forum/css/forum-post-detail.css" />
		<link rel="stylesheet" type="text/css" href="../../css/icomoon.css" />
		<link rel="stylesheet" type="text/css" href="../../css/previewimage.css"/>
		<script src="../../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/group.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/loadingbBtn.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/group-render.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/expression.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/share.js"></script>
		<script src="../../js/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../libs/imgtools/imgtools.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.icon-box {
				width: 50%;
				height: 100%;
			}
			
			.icon-box ul {
				width: 100%;
				height: 100%;
				list-style: none;
			}
			
			.icon-box li {
				width: 33%;
				text-align: center;
				border-left: 1px solid #CCCCCC;
				float: left;
			}
			
			.masking {
				position: relative;
				background: rgba(0, 0, 0, .4);
				z-index: 999;
				width: 100%;
			}
			
			.bottom-btn span {
				margin-left: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 id="title" class="mui-title">详情</h1>
		</header>

		<div id="loading_page" style="text-align: center;margin-top: 55%;">
			<i class="mui-spinner"></i>
		</div>
		<div id="pullrefresh" style="display: none;">
			<div id="scroll_wrapper" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div>

						<!--帖子详情部分-->
						<div id="post_detail" class="post-detail">

						</div>
						<div id="post_content" class="post-content"></div>
						<!--帖子回复部分-->
						<div id="comment_box" class="comment-box">
							<ul id="comment_list" class="mui-table-view"></ul>
						</div>
					</div>
				</div>
			</div>
			<!--底部区域 评论 点赞-->
			<footer class="mui-bar mui-bar-footer" id="show_foot" style="height: 50px;">
				<i class="diy-icon icon-edit mui-pull-left" style="line-height: 50px;"></i>
				<a id="show_hide" class="mui-btn mui-btn-link mui-pull-left" style="color: #C0C0C0;line-height: 50px;margin-left: 10px;">添加你的评论</a>
				<div class="icon-box mui-pull-right">
					<ul class="mui-text-center" style="margin: 0;padding: 0px;">
						<li id="shares">
							<div class="bottom-btn">
								<i class="diy-icon icon-share" style="line-height: 50px;"></i>
							</div>
						</li>
						<li id="sendcomment">
							<div class="bottom-btn">
								<i class="diy-icon icon-bubble2" style="line-height: 50px;"></i><span id="chat_icon"></span>
							</div>
						</li>
						<li id="support" class="group_support">
							<div class="bottom-btn" id="support_btn">
								<i class="diy-icon icon-heart" style="line-height: 50px;"></i><span id="suppt_num"></span>
							</div>
						</li>
					</ul>
				</div>
			</footer>
			<!--快速回复栏-->
			<div id="reply_box" class="diy-bottom-box" style="display: none;height: 50px;">
				<div class="mui-grid-view mui-clearfix diy-bottom">
					<div class="mui-col-xs-9 mui-pull-left ">
						<form style="background: #fafafa;border: none; ">
							<div class="mui-input-row ">
								<label style="border: none;width: 10%;padding: 7px 0px">
									<i class="mui-icon mui-icon mui-icon-compose"></i>
								</label>
								<input id="reply_text" type="text" placeholder="回复楼主" class="noscrollbars"></input>
							</div>
						</form>
					</div>
					<div class="mui-col-xs-3 mui-pull-left">
						<button id="send_btn" class="mui-btn mui-btn-blue" style="padding:9px 20px;width:80%">
							发送</button>
					</div>
				</div>
			</div>
		</div>
		<!--detail模板-->
		<script id="detail_template" type="text/html">
			<p class="post-title">{{title}}</p>
			<img class="forum-header mui-pull-left" src="{{user.avatar128}}">
			<div class="mui-media-body">{{user.nickname}}{{if user.rank_link.length > 0}}{{each user.rank_link as value i}}<span style="background: {{value.label_bg}};color: {{value.label_color}};" class="rank-label">{{value.title}}</span>{{/each}}{{/if}}
				<span class="louzhu-text">楼主</span><span id="report" data="{{}}" style="float: right;font-size:12px;margin-right: 10px;">举报</span>
				<p class='mui-ellipsis'>{{create_time}}
					<span class="mui-pull-right">
					{{if is_collect  == 1}}
						<i id="collection_btn" class="mui-icon icon-star support-icon" style="color:red;"></i>
						{{else}}
						<i id="collection_btn" class="mui-icon icon-star support-icon" style="color:black;"></i>
					{{/if}}
				</span>
				</p>
			</div>
		</script>

	</body>

	<script type="text/javascript" charset="utf-8">
		mui.init({
			gestureConfig: {
				doubletap: true
			}
		});
		mui('.mui-scroll-wrapper').scroll();
		mui.previewImage();
		var postTitle = document.getElementById('title');
		var postDetail = document.getElementById('post_detail');
		var postContent = document.getElementById('post_content');
		var commentList = document.getElementById('comment_list');
		var replyBox = document.getElementById('reply_box');
		var supportBtn = document.getElementById('support_btn');
		var sendBtn = document.getElementById('send_btn');
		var supports = document.getElementById('support');
		var show_hide = document.getElementById('show_hide');
		var show_foot = document.getElementById('show_foot');
		var chat_icon = document.getElementById('chat_icon');
		var suppt_num = document.getElementById('suppt_num');
		var $group_support = new support();
		var postId = ''; //帖子ID
		var share;

		show_hide.addEventListener('tap', function() {
			if (is_login()) {
				replyBox.style.display = 'block';
				show_foot.style.display = 'none';
				var masking = document.createElement('div');
				var sHeight = plus.screen.resolutionHeight;
				var fHeight = parseInt(replyBox.style.height);
				var mHeight = sHeight - fHeight;
				masking.style.height = (mHeight - 20) + 'px'
				masking.className = 'masking';
				document.body.appendChild(masking);
				masking.addEventListener('tap', function() {
					replyBox.style.display = 'none';
					show_foot.style.display = 'block';
					masking.style.display = 'none';
					//关闭软键盘
					document.activeElement.blur();
				})
			} else {
				toast.info("请登录后操作")
			}
		});
		/*回复数据块*/
		var replyText = document.getElementById('reply_text');
		/*loading的加载和显示*/
		var changePage = function(loading) {
			if (loading) {
				document.getElementById('loading_page').style.display = 'block';
				document.getElementById('pullrefresh').style.display = 'none';
			} else {
				document.getElementById('loading_page').style.display = 'none';
				document.getElementById('pullrefresh').style.display = 'block';
			}
		}
		var get_comment_li = function(commentInfo) {
			var li = document.createElement('li');
			li.className = 'post-comment';
			li.comment_info = commentInfo;
			commentInfo.content = imgTools.getDtlContent(commentInfo.content);
			li.innerHTML = post_detail_render(commentInfo);
			return li;
		}
		/*plusReady准备就绪*/
		mui.plusReady(function() {
			share = new share();
			var thisWeb = plus.webview.currentWebview();
			var postInfo = thisWeb.postInfo;
			postId = postInfo.id;
			var postRestInfo = {
				post_id: postId,
				page: 1
			}
			$group_support.create('group_support', {
				appname: 'group',
				table: 'post',
				jump: 'group/index/Detail'
			});
			group.bindEvent();
			postTitle.addEventListener('tap', function(e) {
				goTop(thisWeb);
			})
			/*帖子详情*/
			group.getPostDetail({postId: postId}, function(res) {
				if (res.code == 200) {
					var detailHtml = template('detail_template', res.data);
					var temp = res.data;
					postDetail.innerHTML = detailHtml;
					postContent.innerHTML = imgTools.getDtlContent(res.data.content);
					chat_icon.innerHTML = temp.reply_count;
					suppt_num.innerHTML = temp.supportCount;
					var reportBtn = document.getElementById('report');
					var collectionBtn = document.getElementById('collection_btn');
					reportBtn.addEventListener('tap', function() {
						app.openReportWeb('group',temp);
					})
					collectionBtn.addEventListener('tap', function() {
						var $this = this;
						if (this.style.color == 'red') {
							group.delMyCollection({
								post_id: postId
							}, function(res) {
								if (res.code == 200) {
									$this.style.color = 'black';
									toast.info('取消收藏');
								} else {
									toast.info(res.info);
								}
							})
						} else {
							group.postMyCollection({
								post_id: postId
							}, function(res) {
								if (res.code == 200) {
									$this.style.color = 'red';
									toast.info('已收藏');
								} else {
									toast.info(res.info);
								}
							})
						}
					})
					supports.setAttribute('row-id', res.data.id);
					supportBtn.setAttribute('is_bind_event', res.data.is_support);
					if (res.data.is_support == 1) {
						supportBtn.style.color = 'red';
					}
				} else {
					toast.info(res.info);
					return;
				}
				changePage(false);
			});
			/*初始化回复列表*/
			group.getPostComment(postRestInfo, function(res) {
				if (res.code == 200) {
					for (index in res.data) {
						var commentInfo = res.data[index];
						commentInfo.page = postRestInfo.page;
						var floor = (postRestInfo.page - 1) * 10 + parseInt(index, 10) + 1;
						floor = apptools.createFloor(floor);
						commentInfo.floor = floor;
						var li = get_comment_li(commentInfo);
						commentList.appendChild(li);
					}
					if (commentList.children.length == 0) {
						postRestInfo.page--;
						loadBar.innerText = '暂无评论';
					} else if (res.data.length < 10) {
						secondCount = res.data.length;
						postRestInfo.page--;
						loadBar.innerText = '暂无更多评论';
					} else {
						loadBar.innerText = '点击加载更多';
					}
					document.getElementById('comment_box').appendChild(loadBar);
				} else {
					toast.info(res.info);
					return;
				}
				mui('#comment_list').on('tap', '#report_group_comment', function() {
					var info = this.parentNode.parentNode.comment_info;
					app.openReportWeb('group_comment',info);
				})
			});
			//加载按钮
			var loadBar = loadBtn();
			var fistCount = 0;
			var secondCount = 0;
			var block = true;
			loadBar.addEventListener('tap', function(event) {
				if (block) {
					block = false;
					postRestInfo.page++;
					group.getPostComment(postRestInfo, function(res) {
						if (res.code == 200) {
							fistCount = typeof(res.data) == 'undefined' ? 0 : res.data.length
							for (var i = secondCount; i < fistCount; i++) {
								var commentInfo = res.data[i];
								commentInfo.page = postRestInfo.page;
								var floor = (postRestInfo.page - 1) * 10 + parseInt(i, 10) + 1;
								floor = apptools.createFloor(floor);
								commentInfo.floor = floor;
								commentList.appendChild(get_comment_li(commentInfo));
							}
							if (fistCount < 10) {
								secondCount = fistCount;
								postRestInfo.page--;
								loadBar.innerText = '暂无更多评论';
							} else {
								secondCount = 0;
								loadBar.innerText = '点击加载更多';
							}
						} else {
							mui.toast(res.info);
						}
						block = true;
					});
				}
			});
			/*加载更多楼中楼回复*/
			var lzlRestInfo = {
				post_id: postId,
				to_f_reply_id: '',
				page: 1
			}
			var lzlPage = 0;
			mui('#comment_list').on('tap', '.more-btn', function(e) {
				lzlPage++;
				var lzlList = this.previousSibling;
				var lzlReplyCount = this.getAttribute('lzl-count');
				var thisId = this.id;
				var moreDiv = document.getElementById(thisId);
				moreDiv.style.display = "none";
				lzlRestInfo.to_f_reply_id = lzlList.id;
				lzlRestInfo.page = lzlPage;
				group.getPostLzlComment(lzlRestInfo, function(res) {
					if (res.code == 200 && res.data != null) {
						var tempReplyCount = res.data.length;
						var moreCount = lzlReplyCount - ((lzlPage - 1) * 10 + tempReplyCount);
						var lzlCount = 0;
						if (lzlPage == 1) {
							lzlCount = 3;
						}
						for (var d = lzlCount; d < tempReplyCount; d++) {
							var li = document.createElement('li');
							li.className = 'lzl-comment';
							li.innerHTML = post_lzl_render(res.data[d]);
							lzlList.appendChild(li);
						}
						if (moreCount > 0) {
							moreDiv.style.display = "block";
							moreDiv.innerText = '更多' + moreCount + '条回复';
						}
					}
				})
			}, false)
			app.shareHref(postInfo.share_url, postInfo.title, postInfo.summary);
		});
		/*发表评论功能*/
		sendBtn.addEventListener('tap', function(e) {
			if (is_login()) {
				var replyContent = replyText.value;
				var replyRest = {
					post_id: postId,
					content: replyContent
				}
				if (replyRest.post_id != null && replyRest.content.length >= 2) {
					group.replyToPost(replyRest, function(res) {
						plus.nativeUI.showWaiting();
						if (res.code == 200) {
							replyText.value = '';
							toast.info('回复成功');
						} else {
							toast.info(res.info);
						}
						plus.nativeUI.closeWaiting();
					})
				} else {
					toast.info('请提交有意义的评论');
				}
			} else {
				toast.info('请登陆后操作');
			}
		});
		/*回复楼中楼*/
		mui('#comment_list').on('tap', '.lzl_content', function(e) {
			var comment_li = get_parent_node(this, '.post-comment');
			mui.openWindow({
				url: 'group-post-floor.html',
				id: 'group-post-floor',
				extras: {
					commentInfo: comment_li.comment_info
				}
			})
		})
		/*打开楼中楼回复列表*/
		mui('#comment_list').on('tap', '#floor_reply_btn', function(e) {
			var comment_li = get_parent_node(this, '.post-comment');
			mui.openWindow({
				url: 'group-post-floor.html',
				id: 'group-post-floor',
				extras: {
					commentInfo: comment_li.comment_info
				}
			})
		}, false)
	</script>

</html>