<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app-form.css"/>
		<script src="../../js/mytools/body_before.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">找回密码</h1>
		</header>
		
		<div class="app-content">
			<div id="verify_page">
				<div class="app-ipt-title">手机号码</div>
				<div class="mui-input-row">
					<input id='account_ipt' type="number" oninput="ipt_max_length(this,15)" class="mui-input-clear" placeholder="请输入手机号码">
				</div>
				<div class="flex-box">
					<input id='verify_ipt' type="number" oninput="ipt_max_length(this,10)" placeholder="短信验证码">
					<button id="get_verify" type="button" class="mui-btn mui-btn-green">获取验证码</button>
				</div>
				<div class="sub-btn">新密码</div>
				<div class="mui-input-row mui-password">
					<input id='password_ipt' type="password" maxlength="32" class="mui-input-password" placeholder="密码">
				</div>
				<button id="okay_btn" type="button" class="mui-btn mui-btn-block mui-btn-blue sub-btn">修改密码</button>
			</div>
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/core.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/account.js" type="text/javascript" charset="utf-8"></script>
		<script>
		
			(function($, doc) {
				$.init();
				apptools.webBlur();
				var accountIpt = doc.getElementById("account_ipt");
				var verifyIpt = doc.getElementById("verify_ipt");
				var passwordIpt = doc.getElementById("password_ipt");
				var getVerifyBtn = doc.getElementById("get_verify");
				var okayBtn = doc.getElementById("okay_btn");
				var findType = 'mobile';
				
				$('#verify_page').on('tap','button',function(e){
					var btnId = this.id;
					var tel = accountIpt.value;
					switch(btnId){
						case 'get_verify': //获取验证码
							if(apptools.checkMobile(tel)){
								app.sendVerify({account:tel,type:findType,action:'find'},function(res){
									$.toast(res.info);
									if(res.code == 200){
										new DecTime(getVerifyBtn,60);
									}
								})
							}
							break;
						case 'okay_btn':	//修改密码操作
							var reqstInfo = {
								action:'find',type:findType,
								account:tel,verify:verifyIpt.value,
								password:passwordIpt.value
							};
							if(!apptools.checkMobile(tel) || !apptools.checkVerify(reqstInfo.verify) || !apptools.checkPassword(reqstInfo.password)){
								return;
							}
							account.handlePassword(reqstInfo,function(res){
								$.toast(res.info);
								if(res.code == 200){
									mui.back();
								}
							})
						break;
						default:
							break;
					}
				},false)
			}(mui, document));
		</script>
	</body>
</html>