<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../../js/mui.min.js"></script>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
	    <h1 id="shop_name" class="mui-title"></h1>
	</header>
</body>
    <script type="text/javascript" charset="utf-8">
      	mui.plusReady(function(){
      		
	      	mui.init({
	      		subpages:[{
	      			url:'store-shop-body.html',
	      			id:'store-shop-body',
	      			styles:{
	      				top:'45px',
	      				bottom:'0px'
	      			}
	      		}]
	      	});
      	})
    </script>
</html>