<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../../js/mui.min.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="mui-bar mui-bar-nav">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 class="mui-title">话题</h1>
		</div>
	</body>
	<script type="text/javascript">
		mui.init({
		    subpages:[{
			    url:'weibo-topic-body.html',
			    id:'weibo-topic-body',
			    show:{
      				aniShow:'zoom-fade-out'
      			},
			    styles:{
				    top:'45px',
				    bottom:'0px'
			    }
		    }]
		});
	</script>
</html>